form {
  background-color: rgba(2, 255, 2, 0.274);
  padding: 20px;
  margin-bottom: 100px;
  border-radius: 5%;
  margin-top: 30px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 250px;
  width: 350px;
}

.amount,
.select_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big {
  font-size: 1em;
}

p {
  font-size: 0.75em;
}

input {
  width: 100px;
}

select,
input {
  margin-top: 10px;
  padding: 3px;
}

select,
input,
button {
  font-size: 0.75em;
}

button {
  width: 90%;
  height: 30px;
  cursor: pointer;
  box-shadow: 0 2.8px 2.2px rgba(000, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

button[disabled]:hover {
  cursor: auto;
}

.result {
  font-size: 2em;
  background-color: rgba(245, 245, 245, 0.13);
  margin: 20px;
  padding: 20px;
  border-radius: 3%;
}
